<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulos">
      Sons e Músicas
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content class="ion-padding"[fullscreen] = "true">
    
    <ion-grid class="botao-grup">
      <ion-row>
        <ion-col>
          <ion-button class="botao" expand="block" (click)="setOpen(true)">Tempestade</ion-button>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>SOOTHE</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Fechar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <iframe width="350" height="315" src="https://www.youtube.com/embed/0nPG1AiWR54?si=799WtdcYqr-Geg51" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </ion-content>
      </ng-template>
    </ion-modal>
        </ion-col>
        <ion-col>
          <ion-button class="botao" expand="block" (click)="setOpen1(true)">Oceano</ion-button>
          <ion-modal [isOpen]="isModalOpen1">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>SOOTHE</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen1(false)">Fechar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <iframe width="350" height="315" src="https://www.youtube.com/embed/vPhg6sc1Mk4?si=ysF8F180PajCunoa&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="botao" expand="block" (click)="setOpen2(true)">Cachoeira</ion-button>
          <ion-modal [isOpen]="isModalOpen2">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>SOOTHE</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen2(false)">Fechar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <iframe width="350" height="315" src="https://www.youtube.com/embed/V1RPi2MYptM?si=t4yJ3GNl_PF6ioGe&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
        <ion-col>
          <ion-button class="botao" expand="block" (click)="setOpen3(true)">Floresta</ion-button>
          <ion-modal [isOpen]="isModalOpen3">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>SOOTHE</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen3(false)">Fechar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <iframe width="350" height="315" src="https://www.youtube.com/embed/29XymHesxa0?si=N9AGmU0f2kgk-lkD&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

