.botao{
    --background: #ebf8ea;
    --color: #151F16;
    --background-activated:#adfa9a;
}

.botao-grup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}


  