<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulos">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card3-conteiner">
    <ion-card>
      <ion-card-header>
        <div *ngIf="user; else noUser">  <p class="texto-card">Bem-vindo, {{ user.name }}!</p> <br> <p class="texto-card">{{user.email}}</p>  
        </div> 
        <ng-template #noUser> <p class="texto-card">Nenhum usuário</p> </ng-template>
      </ion-card-header>
    
      <ion-card-content>
        <ion-avatar slot="start">
          <img src="assets/imgs/icon.png" alt="Foto">
        </ion-avatar>
        <div class="p-estilo">
          
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button  routerLink="/login">Logar</ion-button>
  <ion-button (click)="signOut()">Desconectar</ion-button>
</ion-content>


