@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";

.titulos{
    text-align: center;
}

:root{
    --ion-font-family:font-family: "Playwrite DE Grund", cursive;   
}
body {
    
    --ion-toolbar-background: #162522;
    --ion-toolbar-color: #ffffff;
  
    --ion-background-color: linear-gradient(180deg, #151F16 0%, #7CDC73 100%);
  
    
    --ion-tab-bar-background: #162522;
    --ion-tab-bar-color: #ffffff;
    --ion-tab-bar-color-selected: #7CDC73;        
  }
